<select name='<?php echo $this->getFieldName() ?><?php if($this->getMultiselect()) echo '[]'?>' id='<?php echo $this->getFieldId() ?>'
        class='<?php echo $this->getFieldClass() ?>'
        aria-labelledby="label_<?php echo $this->getFieldId() ?>"
        <?php if($this->getField()->getRequired()) {?>required<?php }?>
        style='<?php echo $this->getFieldStyle() ?>' <?php if ($this->getField()->getDisabled()) { ?> disabled <?php } ?>
        <?php if ($this->getMultiselect()) echo 'multiple'?>>

    <?php

    foreach ($this->getFieldOptions() as $option) {
        $checked = false;
        $disabled = false;
        if ($option["checked"]) {
            $checked = 'selected';
        }
        if ($option["disabled"]) {
            $disabled = 'disabled';
        }
        if (isset($option["value"])) {
            $value = htmlspecialchars($option["value"]);
            if ($option['null']) {
                $value = '';
            }

            ?>

            <option value="<?php echo $value ?>" <?php echo $checked ?> <?php echo $disabled?>><?php echo $option['label'] ?></option>

            <?php

        }
    }

    ?>

</select>